*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body 
{
	font-family: cursive;
    background-color: #E7F3FF;
}
#boton1{
  align-content: center;
   margin-top: 20px;
}

#boton2{
    margin-top: 10px;
 }
 input{
    margin-top: 20px;
 }
  
 #div1
 {  
    width: 300px;
    margin: auto; 
 }
 #label1{
    margin-top: 10px; 
 }