*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body 
{
	font-family: cursive;
    background-image: url(../IMAGES/image1.jpg);
}
input{
    margin: auto;
    align-content: center;
    width: 300px;
    margin: auto; 
    margin-top: 10px;
    
}
button
{
    margin: auto;
    align-content: center;
    margin: auto; 
    margin-top: 10px;
}