*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body 
{
	font-family: cursive;
    background-image: url(../IMAGES/image1.jpg);
    
}

.ocultar{
    display: none;
}
#div{
    margin: auto;
    align-content: center;
    width: 300px;
    margin: auto; 
    margin-top: 10px;
    
}
h4{
    margin: auto;
    align-content: center;
    width: 300px;
    margin: auto; 
    margin-top: 10px;
}

#mensajeAlerta{
    margin: auto;
    align-content: center;
    width: 300px;
    margin: auto; 
    margin-top: 10px;
}


