*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: cursive;
    background-image: url(../IMAGES/image1.jpg);
}

.contenedorCalculadora {
   
     background-color: silver;
     width: 300px;
     margin: auto;
     margin-top: 100px;
     padding: 10px;
     border: 1px solid royalblue;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;

}
.contenedorBotones{
    display:  flex;
    width: 80%;
    margin-top: 10px;
    justify-content: space-between;
}

